.backgroundHeader {
  background: url("../../public/gifs/matrix-animation-background.gif");
  background-repeat: no-repeat;
  background-size: 100% 12rem;

  width: 100%;
  min-width: 30rem;
  padding-top: 6rem;

  h1 {
    margin-bottom: 0;
    font-size: 3rem;
    color: var(--white);
  }

  @media (max-width: 34rem) {
    margin: 0;
    border-radius: 0;
  }
}
