.drac-bg-black {
  background-color: var(--black);
}

.drac-text-white {
  color: var(--white);
}

.drac-text-yellow {
  color: var(--yellow);
}

.drac-anchor {
  text-decoration: none;
  color: var(--accentColor);
}

.drac-text-purple-cyan {
  background-image: linear-gradient(var(--gradientDegree),var(--purple),var(--cyan));
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}