.color {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
  width: 100%;
}

.color__button {
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;

  svg {
    cursor: pointer;
    transition: transform 3s;
  }

  &:hover {
    svg {
      color: #333;
      transform: rotateZ(360deg);
    }
  }
}
