.container {
  display: flex;
  flex-direction: column;
  width: 100%;

  padding: 0 1.5rem 2rem 1.5rem;
}

.resume__text {
  overflow-wrap: break-word;
  text-indent: 4rem;
  text-align: justify;
  font-size: 1.2rem;
}

.posts-list__header {
  color: var(--yellow); /* .drac-text-yellow */
  font-size: 2rem;
  padding: 1.5rem 0;
}

.posts-list__body {
  list-style: none;
  padding: 0;
  margin: 0;
}

.posts-list__body > .item {
  margin: 0 0 1.25rem;
  font-size: 1.3rem;
}

.post-date {
  color: #999;
}